#about {
	min-height: 100vh;

	i {
		color: @brand-color;
	}
}

.about-heading {
	padding: 50px 0 30px 0;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
}

.about-text {
	font-size: 1.2rem;
}

.about-icon-container {
	padding-top: 50px;
}

.about-icon-text{
	padding-top: 20px;
}

