#booking {
	min-height: 100vh;
}

.booking-heading{
	padding-top: 20px;
	padding-bottom: 40px;
}

.btn-booking{
	margin-bottom: 60px;
	margin-top: 30px !important;
}

.booking-logo{
	margin-top: 30vh;
	margin-bottom: 10vh;
}

.booking-text{
	font-size: 1.4rem;
	font-family: 'Lato';	
}

.hotline-heading{
	font-size: 2rem;
	font-family: 'Lato';
	padding-top: 15vh;
	padding-bottom: 25vh;
	letter-spacing: .2rem;
}

.booking-subheading{
	font-size: 1.2rem;
	font-family: 'Lato';
	padding-top: 10vh;
	padding-bottom: 10vh;
	letter-spacing: .2rem;
}